body {
  margin: 0;
  font-family: 'Manjari', sans-serif;
  background-color: #222;
  color: #fff;

  align-items: center;
  justify-content: center;
}

header {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
    padding-top: 5%;
}

header h1 {
  margin: 0;
  font-size: 6em;
  text-align: center;
  color: white;
  text-shadow: 
    /*2px 2px 0 #00f,
    -2px -2px 0 #00f,
    2px -2px 0 #00f,*/
    -2px 2px 0 #00f,
     0 2px 0 #00f,
    2px 0 0 #00f,
    0 -2px 0 #00f,
    -2px 0 0 #00f; 
}


main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  margin: 20px 0;
}

section h2 {
  font-size: 2em;
  margin: 10px 0;
}

/* Add responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav a {
    text-align: center;
  }
}
canvas {
  /* Set the canvas to be fixed and positioned behind all other elements */
  display:block;
  position: fixed;

vertical-align: top;
  /* Stretch the canvas to fill the entire viewport */
  width: 100%;
  height: 100%;
}/* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #000; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 100% 100%; } 

#director{padding-left:80%;}



